body {
    background-color: rgb(142, 191, 207);
  }
  
  h1 {
    color: rgb(182, 34, 34);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  
  
  